version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: diplom-db
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: habitdb
    ports:
      - "5432:5432"
    volumes:
      - ./habits-tracker/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  app:
    image: habits-tracker
    container_name: diplom-app
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: habit_tracker
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data:
